version: "3.9"

services:

  configsvr:
    image: mongo:8.2
    container_name: mongo-config
    command: >
      mongod --configsvr --replSet configRS --port 27019 --bind_ip_all
    ports:
      - "27019:27019"
    volumes:
      - configdb:/data/configdb

  shard1:
    image: mongo:8.2
    container_name: mongo-shard1
    command: >
      mongod --shardsvr --replSet shard1RS --port 27018 --bind_ip_all
    ports:
      - "27018:27018"
    volumes:
      - shard1:/data/db

  shard2:
    image: mongo:8.2
    container_name: mongo-shard2
    command: >
      mongod --shardsvr --replSet shard2RS --port 27020 --bind_ip_all
    ports:
      - "27020:27020"
    volumes:
      - shard2:/data/db

  mongo-init:
    image: mongo:8.2
    container_name: mongo-init
    depends_on:
      - configsvr
      - shard1
      - shard2
      - mongos
    volumes:
      - ./mongo-init:/scripts
    entrypoint: [ "bash", "/scripts/init.sh" ]

  mongos:
    image: mongo:8.2
    container_name: mongo-mongos
    command: >
      mongos --configdb configRS/configsvr:27019 --bind_ip_all
    ports:
      - "27017:27017"

volumes:
  configdb:
  shard1:
  shard2:
